body {
    height: unset;
}


.printablePage{
    margin-top: 80px;
    position: relative;
    background: #FFFFFF;
    width: 8.5in;
    height: 11in;
    /* padding: 0.86in 0.79in 0.19in 1.19in; */
    /* background-image: url(../img/firedrill.png); */
    background-position: 125px 12px;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:contain;
    margin: 5rem auto;
}

li{
    list-style-type: none;
    padding: 2px 0;
}

.header{
    text-align: center;
    position: absolute;
    font-size: 11pt;
    left: 409px;
    top: 125px;
}

.date-container{
    position: absolute;
    font-size: 11pt;
    top: 313px;
    left: 513px;
    border-bottom: 2px solid var(--default);
}

.control-no{
    position: absolute;
    top: 192px;
    left: 138px;
    text-decoration: underline;
}


.establishment-name{
    position: absolute;
    top: 421px;
    left: 75px;
    width: 640px;
    text-align: center;
}

.establishment-name span {
    color: rgb(255, 96, 96);
    font-size: 1.25rem !important;
}

.rep-name{
    position: absolute;
    top: 493px;
    left: 75px;
    width: 640px;
    text-align: center;
}

.rep-name span {
    font-size: 1.15rem !important;
    font-weight: bold;
}

.address{
    position: absolute;
    top: 462px;
    left: 280px;
    width: 470px;
    text-align: center;
}

.date-made{
    position: absolute;
    top: 462px;
    left: 90px;
    width: 135px;
    text-align: center;
}

.issued-for{
    position: absolute;
    top:655px;
    left: 470px;
}

.more-info{
    position: absolute;
    top:690px;
    left: 280px;
    min-width: 152px;
}

.issuedDay {
    position: absolute;
    top: 556px;
    left: 171px;
    text-decoration: underline;
}

.issuedMonth {
    position: absolute;
    top: 558px;
    left: 281px;
    text-decoration: underline;
}

.validity {
    position: absolute;
    top: 578px;
    left: 210px;
    text-decoration: underline;
}

.footer{
    display: flex;
    margin-top: 109px;
}

.fc-fee{
    position: absolute;
    line-height: 1.385rem;
    top: 650px;
    left: 160px;
}

.chiefName{
    position: absolute;
    top:835px;
    left: 630px;
    text-transform: uppercase;
}

.marshalName{
    position: absolute;
    top:935px;
    left: 630px;
    text-transform: uppercase;
}