
:root{
    --default: black;
    --red: red;
    --green: green;
}

*{
    font-family: Arial, Helvetica, sans-serif !important;
    color: var(--default);
    font-size: 11pt !important;
    white-space: nowrap;
}

body{
    background: #C6C6C6;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

#printablePage{
    margin-top: 80px;
    position: relative;
    background: #FFFFFF;
    width: 8.5in;
    height: 10.9in;
    /* padding: 0.86in 0.79in 0.19in 1.19in; */
    /* background-image: url(../img/firedrill.png); */
    background-position: 125px 12px;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size:contain;
    box-sizing: border-box;
}

li{
    list-style-type: none;
    padding: 2px 0;
}

.header{
    text-align: center;
    position: absolute;
    font-size: 11pt;
    left: 409px;
    top: 125px;
}

.date-container{
    position: absolute;
    font-size: 11pt;
    top: 191px;
    left: 557px;
}

.series-no{
    position: absolute;
    top: 193px;
    left: 166px;
}


.hidden {
    visibility: hidden;
}

.establishment-name{
    position: absolute;
    top: 420px;
    left: 250px;
    width: 410px;
    text-align: center;
}

.establishment-name span {
    font-size: 0.90rem !important;
}

.establishment-name-2{
    position: absolute;
    top: 257px;
    left: 110px;
    text-align: center;
}

.establishment-name-2 span {
    font-size: 0.90rem !important;
}

.rep-name{
    position: absolute;
    top: 233px;
    left: 110px;
}

.rep-name span {
    font-size: 0.90rem !important;
}

.address{
    position: absolute;
    top: 447px;
    left: 116px;
    width: 420px;
    text-align: center;
}

.address span{
    font-size: 0.90rem !important;
}

.address-2 {
    position: absolute;
    top: 280px;
    left: 110px;
    text-align: center;
}

.address-2 span{
    font-size: 0.90rem !important;
}

.date-made{
    position: absolute;
    top: 464px;
    left: 121px;
}


.deficiency{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    outline: none;
    top: 514px;
    left: 144px;
    min-width: 230px;
    height: 155px;
    font-size: 10pt !important;
    white-space: pre-wrap;
    overflow:hidden;
    resize: none;
}

.deficiency-right{
    left: 440px;
}


.footer{
    display: flex;
    margin-top: 109px;
}

.fc-fee{
    position: absolute;
    top: 659px;
    left: 153px;
}

.chiefName{
    position: absolute;
    top:835px;
    left: 630px;
    text-transform: uppercase;
}

.certificate {
    margin: 0;
    padding: 0;
}

.marshalName{
    position: absolute;
    top: 765px;
    left: 447px;
    text-transform: uppercase;
}

/*  */

#back{
    background-color: #DC3545;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26);
    float: left;
    text-decoration: none;
}

.nav{
    width: 90%;
    height: auto;
    background-color: #FFFFFF;
    position: fixed;
    border-radius: 8px;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap; /* wraps content */
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.47);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.47);
}

.editToolBox {
    border-radius: 8px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    z-index: 1001;
    width: 7.5%;
    left:4.5%;
    top:65px;
    padding: 21px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.47);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.47);
}

.btnTools{
    padding: 5px;
    border-radius: 8px;
}

.nav > *{
    margin-left: 10px;
}
.nav > * > span{
    text-decoration: underline;
}

#buttonContainer > *{
    margin-left: 5px;
}

#buttonContainer{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26);
}

button{
    z-index: 1000;
    cursor: pointer;
    background-color: #FFC900;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 0 5px 5px 0;
    text-align: center;
}

button:hover{
    background-color: #d6a800;
}

#printBtn {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding:0 0 0 10px; 
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26);
}

#printBtn:hover {
    background-color: #a1a1a1;
}


.print-ico{
    font-size: 24px !important;
    color: #000 !important;
    margin-left: 5px;
    margin-right: 0;
}
.btn-done {
    background-color: rgb(42, 159, 42);
    color: white;
    padding: .2rem 1.5rem;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 8px;
}

.btn-done:hover {
    cursor: pointer;
    background-color: green;
}

/* utitilities */
.d-none {
    display: none;
}

.disable {
    background-color: #a1a1a1 !important;
}

.disable:hover {
    background-color: #a1a1a1 !important;
}

.fs-12{
    font-size: 12pt;
}

.fs-12 > *{
    font-size: 12pt; 
}


.float-right{
    float: right;
}

.bold{
    font-weight: bold;
}

.bold > *{
    font-weight: bold;
}

.debug {
    border: 1px solid red;
}

.editable {
    border: 1px black solid;
    border-radius: 6px;
    padding: 3px;
}

.moveable {
    border:2px rgb(63, 63, 189) solid;
    border-radius: 6px;
    cursor: pointer;
}
@media print {
    @page {
        size: letter;
        margin: 0;
    }
    html, body {
        /* width: 210mm; 
        height: 297mm;     */
        /* width: 8.5in;
        height: 11in; */
        overflow: hidden;
        -webkit-print-color-adjust: exact;
        -moz-print-color-adjust: exact;
    }
    #printablePage {
        margin: 0 !important;
        height: 10.9in;
        box-sizing: border-box;
        /* padding-right: 1in; */
    }

    .deficiency {
        border: none;
    }
    .nav{
        display: none;
    }

    .editToolBox {
        display: none;
    }
    
}