
.d-none {
    display: none;
}

.disable {
    background-color: #a1a1a1 !important;
}

.disable:hover {
    background-color: #a1a1a1 !important;
}

.fs-12{
    font-size: 12pt;
}

.fs-12 > *{
    font-size: 12pt; 
}

.fs-9pt {
    font-size: 9pt !important;
}

.fs-8pt {
    font-size: 8pt !important;
}

.fs-7pt {
    font-size: 7pt !important;
}

.fs-6pt {
    font-size: 6pt !important;
}


.float-right{
    float: right;
}

.bold{
    font-weight: bold;
}

.bold > *{
    font-weight: bold;
}

.debug {
    border: 1px solid red;
}

.editable {
    border: 1px black solid;
    background-color: #fff;
    border-radius: 6px;
    padding: 3px;
}

.editable:focus {
    outline: none;
}

.moveable {
    border:2px rgb(63, 63, 189) solid;
    border-radius: 6px;
    cursor: pointer;
}


#back{
    background-color: #DC3545;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26);
    float: left;
    text-decoration: none;
}

.nav{
    width: 90%;
    height: auto;
    background-color: #FFFFFF;
    position: fixed;
    border-radius: 8px;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap; /* wraps content */
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.47);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.47);
}

.editToolBox {
    border-radius: 8px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    z-index: 1001;
    width: 7.5%;
    left:4.5%;
    top:65px;
    padding: 21px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.47);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.47);
}

.btnTools{
    padding: 5px;
    border-radius: 8px;
}

.nav > *{
    margin-left: 10px;
}
.nav > * > span{
    text-decoration: underline;
}

#buttonContainer > *{
    margin-left: 5px;
}

#buttonContainer{
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26);
}

button{
    z-index: 1000;
    cursor: pointer;
    background-color: #FFC900;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 0 5px 5px 0;
    text-align: center;
}

button:hover{
    background-color: #d6a800;
}

#printBtn {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding:0 0 0 10px; 
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.26);
}

#printBtn:hover {
    background-color: #a1a1a1;
}


.print-ico{
    font-size: 24px !important;
    color: #000 !important;
    margin-left: 5px;
    margin-right: 0;
}
.btn-done {
    background-color: rgb(42, 159, 42);
    color: white;
    padding: .2rem 1.5rem;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 8px;
}

.btn-done:hover {
    cursor: pointer;
    background-color: green;
}
