:root{
    --primary-color:#672424;
    --secondary-color:#1C3B64;
    --success:#53A3D8;
    --btn-link-hover:#C94747;
}

/* initial style */
body {
    font-size: 16px !important;
    overflow: hidden;
    height: 100vh;
}

*, *::after , *::before {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}


input, button, select{
    font:inherit;
}

[form-input]{
    text-transform: uppercase;
}


/* style */
nav {
    background-color: var(--primary-color);
    max-width: 15%;
}

.page-container, .page-content{
    width: 100%;
}

.page-content {
    padding-bottom: 200px;
}

.page-panel {
    background: rgb(6,16,31);
    background: linear-gradient(90deg, rgba(6,16,31,1) 0%, rgb(28, 59, 99) 100%);
    padding:1rem 3rem;
}

.page-panel .title {
    color: white;
    font-weight: 500;
    font-size: 1.875rem;
}

.debug-div {
    height: 100px;
    background-color: green;
}

.debug {
    border: 1px solid red !important;
}

.debug-2 {
    border: 1px solid blue !important;
}

nav .btn:hover {
    background-color: var(--btn-link-hover) !important;
    color:white !important;
}

.btn-icon{
    width: 24px;
    height: 24px;
    fill: white;
    display: inline !important;
    margin-right: .8rem;
}

.btn-profile:hover {
    background-color: gray !important;
}

.btn-profile-icon{
    width: 28px;
    height: 28px;
    fill: white;
    display: inline !important;
}

.top-panel {
    background: linear-gradient(90deg, rgba(6,16,31,1) 0%, rgb(28, 59, 99) 100%);
}

.dropdown-profile-menu {
    position: absolute;
    left: 0;
    background-color: #363636;
    z-index: 9999;
}

.dropdown-menus {
    position: absolute;
    background-color: #e5e5e5;
    z-index: 9999;
    border-radius: 8px;
    color: var(--success);
    box-shadow: 1px 1px 6px #b5b5b5;
}

.dropdown-menus a:hover{
    background-color: var(--success) !important;
    color: var(--white);
}

.dropdown-profile-menu .btn:hover {
    background-color: gray !important;
}

.add-record-form label {
    display: block;
}

.add-record-form input {
    margin-bottom: .75rem;
}

.toast {
    background-color: whitesmoke;
    color: gray;
}

nav .btn {
    font-weight: bold;
}


.info {
    border: 1px solid gray;
    padding: .4rem .3rem;
    background: white;
    border-radius: .5rem;
    margin-bottom: 0.2rem;
}

.info-label {
    font-weight: 700;
}


.fsic-active {
    background-color: #1C3B64 !important;
    color: white !important;
}

.btn-action{
    border: 2px solid black !important;
    width: inherit;
}

.btn-back{
    position: relative;
    color: var(--secondary-color);
    text-decoration: none;
    margin-left: 50px;
    font-size: 35px !important;
    border-radius: 8px;
    padding: .225rem .725rem;
}

.btn-back:hover {
    background-color: var(--secondary-color);
    color: white;
}

.btn-search {
    background-color: #1C3B64 !important;
    color: white !important;
}

.btn-search:hover {
    background-color: #285693 !important;
}

.search-container {
    width: 34%;
}

.searchFilter {
    border: none;
    border-radius: 8px;
    padding:.5rem;
    background-color: #ffffff;
}

#table-estab tr:nth-child(even) {
    background-color: #EDEDED;
}

.fileuploadicon{
    color: #171717;
    background-color: #e8e8e8;
}


/* Utilities */

.w-85{
    width: 85%;
}

.w-90{
    width: 90%;
}

.w-60{
    width: 60%;
}

.h-85{
    height: 85%;
}

.h-90{
    height: 90%;
}

.h-60{
    height: 60%;
}

.btn-primary {
    background-color: #0F2D55 !important;
}


/* Loadiing Animation */

/* 
Use this for loading
<div><div class="fw-bold fs-5" id="loading-message">Uploading...</div><div id="loading-bar-spinner" class="spinner"><div class="spinner-icon"></div></div></div>
*/
#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -60px;
    margin-top: -35px;
    top: 50%;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
}

#loading-message {
    left: 50%;
    margin-left: -65px;
    margin-top: 70px;
    color:#404040 !important;
    top: 50%;
    z-index: 19 !important;
    position: absolute;
}

#loading-bar-spinner.spinner .spinner-icon {
    width: 80px;
    height: 80px;
    border:  solid 4px transparent;
    border-top-color:  gray !important;
    border-left-color: gray !important;
    border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}