:root{
    --primary-color:#672424;
    --secondary:#363636;
    --btn-link-hover:#C94747;
}

/* initial style */
body {
    font-size: 16px !important;
    overflow: hidden;
    height: 100vh;
}

*, *::after , *::before {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}


input, button, select{
    font:inherit;
}


/* style */
nav {
    background-color: var(--primary-color);
    min-width: 16%;
}

.page-container, .page-content{
    width: 100%;
}

.page-content {
    padding-bottom: 200px;
}

.page-panel {
    background: rgb(6,16,31);
    background: linear-gradient(90deg, rgba(6,16,31,1) 0%, rgba(28,59,100,1) 100%);
    padding:1rem 3rem;
}

.page-panel .title {
    color: white;
    font-weight: 500;
    font-size: 1.875rem;
}
.debug {
    border: 1px solid red !important;
}

.debug-2 {
    border: 1px solid blue !important;
}

nav .btn:hover {
    background-color: var(--btn-link-hover) !important;
    color:white !important;
}

.btn-icon{
    width: 24px;
    height: 24px;
    fill: white;
    display: inline !important;
    margin-right: .8rem;
}

.btn-profile:hover {
    background-color: gray !important;
}

.btn-profile-icon{
    width: 28px;
    height: 28px;
    fill: white;
    display: inline !important;
}

.top-panel {
    background-color: var(--secondary);
}

.dropdown-profile {
    position: relative;
}

.dropdown-profile-menu {
    position: absolute;
    left: 0;
    background-color: var(--secondary);
    display: none;
    z-index: 9999;
}

.dropdown-profile-menu .btn:hover {
    background-color: gray !important;
}

.add-record-form label {
    display: block;
}

.add-record-form input {
    margin-bottom: .75rem;
}

.toast {
    background-color: whitesmoke;
    color: gray;
}

nav .btn {
    font-weight: bold;
}
