:root{
    --primary-color:#1C3B64;
    --secondary-color-dark:#21303D;
    --nav: #0f2b41;
    --primary-subtle:#F6F8FC;
    --success:#53A3D8;
    --btn-link-hover:#abcbff;
    --top-panel:#123B5A;
    --disable:#9f9f9f;
}
