/* .page-link {
    color: #1C3B64 !important;
}

.active span {
    background-color: #1C3B64 !important;
    border-color:  #1C3B64 !important;
}

.active .page-link {
    color: white !important;
} */