:root{
    --primary-color:green;
    --secondary-color:#1C3B64;
    --secondary-subtle-color:#dee0e2;
    --success:#1C3B64;
    /* --success:#53A3D8; */
    --success-subtle:#4d94c4;
    --btn-link-hover:#C94747;
}

.overflow-y-scroll{
    overflow-y: hidden;
}

.text-primary {
    color: var(--secondary-color)!important;
}

.bg-secondary-subtle {
    background-color: var(--secondary-subtle-color) !important;
}


.btn-outline-success {
    color: var(--success)!important;
    border-color: var(--success) !important;
    font-weight: bold !important;
}

.btn-outline-success:hover {
    background-color: var(--success)!important;
    color: white !important;
}

.btn-primary {
    background-color: var(--success)!important;
    border: none !important;
    font-weight: bold !important;
}


.btn-primary:hover {
    background-color: var(--success-subtle)!important;
}

a.btn-primary:hover {
    color: white;
    background-color: var(--success-subtle)!important;
}

.btn-outline-primary {
    color: var(--success)!important;
    border-color: var(--success) !important;
    font-weight: bold !important;
}

.btn-outline-primary:hover {
    background-color: var(--success)!important;
    color: white !important;
}

.btn-active{
    color: white !important;
    background-color: var(--success) !important;
}