@import url(../global.css);

body {
    overflow: auto;
}

.leftPanel {
    background-color: var(--secondary-color);
    position: relative !important;
}

.motto {
    color: white;
    position: absolute;
    bottom: 100px;
    font-size:1.225rem;
    font-style: italic;
    right: 85px;
}

.motto::before{
    content: "-";
}

.input{
    display: block;
    border-radius: 15px;
}

.create {
    width: 300px;
}