@import url(../colorVariables.css);

.dropdown-menus {
    position: absolute;
    display: none;
    background-color: var(--primary-subtle);
    z-index: 1021;
    border-radius: 8px;
    color: #4c4c4c;
    transition: all 0.5s ease;
}